<div class="container">
  <div class="row py-5">

    <div class="col-12">

      <app-search (messageEvent)="receiveProducts($event)"></app-search>
      <table id="example" class="table table-hover responsive nowrap" style="width:100%">
        <thead>
          <tr>
            <th>Referência</th>
            <th>Descrição</th>
            <th>Peso</th>
            <th>Preço</th>
            <th>Acções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of product | paginate: { itemsPerPage: itemsTotal, currentPage: p, totalItems:pagesTotal, id:'pr' }">
            <td>
              <a [routerLink]="['/products/detail/', item.id ]">
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-blue mr-3">{{item.reference}}</div>

                </div>
              </a>
            </td>
            <td>{{item.description | uppercase}}</td>
            <td>{{item.weight}}</td>
            <td>{{item.price}}</td>
            <td>
              <div class="dropdown actions">
                <!-- <button mdbBtn color="success" class="btn btn-sm btn-icon" [routerLink]="['/products/sell/', item.id]"><i class="bx bxs-pencil mr-2"></i> Vender</button> -->
                <button mdbBtn color="primary" class="btn btn-sm btn-icon" [routerLink]="['/products/update/', item.id]"><i class="bx bxs-pencil mr-2"></i> Editar</button>
                <button mdbBtn color="danger" class="btn btn-sm btn-icon" (click)="softDelete(item.id)"><i class="bx bxs-trash mr-2"></i> Apagar</button>
              </div>

            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>Peso Total: {{totalWeight}}</td>
            <td>Valor Total: {{totalPrice}}</td>
            <td></td>
          </tr>

        </tbody>
      </table>
      <div class="row justify-content-between" name="paginationOptions">

        <select class="browser-default custom-select" style="width: 80px;" (change)="pageItems($event)">
          <option *ngFor="let option of options" value={{option.label}}>{{ option.label }}</option>
        </select>

        <!-- <pagination-controls id="pr" (pageChange)="p = $event"></pagination-controls> -->
        <pagination-controls id="pr" maxSize="5" (pageChange)="pageChange($event)"></pagination-controls>

        <div class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <button mdbBtn color="primary" > Outras Opções </button>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-upper dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/products/create']">Criar Produto</a>
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/products/delete']">Removidos</a>
            <a class="dropdown-item waves-light" (click)="convertPdf()">Gerar Pdf</a>
          </div>
        </div>
<!--
        <button mdbBtn color="primary" [routerLink]="['/products/create']">Criar Produto</button>
        <button mdbBtn color="primary" [routerLink]="['/products/delete']">Removidos</button>
        <button mdbBtn color="primary" (click)="convertPdf()">Gerar Pdf</button> -->
      </div>
    </div>
  </div>
</div>
