<div class="container">
  <div class="row py-5">
    <div class="col-12">
      <table id="example" class="table table-hover responsive nowrap" style="width:100%">
        <thead>
          <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of product | paginate: { itemsPerPage: itemsTotal, currentPage: p, id:'pr' }">
            <td>
              <a [routerLink]="['/products/detail/', item.id ]">
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-blue mr-3">{{item.id}}</div>

                </div>
              </a>
            </td>
            <td>{{item.description}}</td>
            <td>
            <div class="dropdown actions">
              <button class="btn btn-sm btn-icon" [routerLink]="['/products/update/', item.id]"><i class="bx bxs-pencil mr-2"></i> Editar</button>
              <button class="btn btn-sm btn-icon" [routerLink]="['/products/detail', item.id ]"><i class="bx bxs-trash mr-2"></i> Apagar</button>
            </div>

            </td>
          </tr>

        </tbody>
      </table>
          <pagination-controls id="pr" (pageChange)="p = $event"></pagination-controls>

          <select class="browser-default custom-select" style="width: 60px;" (change)="pageItems($event)">
            <option *ngFor="let option of options" value={{option.label}}>{{ option.label }}</option>
          </select>
    </div>
  </div>
</div>
