<div class="container">
  <div class="row py-5">

    <div class="col-12">

      <!-- Search Dropdown -->
      <div class="wrapper">
        <div class="row mt-3">
          <div class="col-6">

            <div class="nav-item dropdown d-flex justify-content-start" dropdown>
              <div>
              <input dropdownToggle  class=" mr-sm-2" type="text" placeholder="Search" (keyup)="search($event)">
              </div>
              <div>
              <button mdbBtn color="success" block="true"  type="submit" (click)="fullMatchSearch()" title="Guardar">
                <i class="fa fa-search" aria-hidden="true"></i></button>
              </div>
              <div  *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu" >
                <div *ngIf="searchresults.length > 0" class="dropdown">
                  <div *ngFor="let result of searchresults">
                    <li class="dropdown-item" [routerLink]="['/products/detail/', result.id]">{{result.description}}</li>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <table id="example" class="table table-hover responsive nowrap" style="width:100%">
        <thead>
          <tr>
            <th>Referência</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Criado por</th>
            <th>Acções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of product | paginate: { itemsPerPage: itemsTotal, currentPage: p, id:'pr' }">
            <td>
              <a [routerLink]="['/products/detail/', item.id ]">
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-blue mr-3">{{item.reference}}</div>

                </div>
              </a>
            </td>
            <td>{{item.description}}</td>
            <td>{{item.price}}</td>
            <td>{{item.insertedBy}}</td>
            <td>
              <div class="dropdown actions">
                <button mdbBtn color="primary" class="btn btn-sm btn-icon" [routerLink]="['/products/update/', item.id]"><i class="bx bxs-pencil mr-2"></i> Editar</button>
              </div>

            </td>
          </tr>

        </tbody>
      </table>
        <div class="row justify-content-between" name="paginationOptions">

          <select class="browser-default custom-select" style="width: 60px;" (change)="pageItems($event)">
            <option *ngFor="let option of options" value={{option.label}}>{{ option.label }}</option>
          </select>
          <pagination-controls id="pr" (pageChange)="p = $event"></pagination-controls>
          <button mdbBtn color="primary" [routerLink]="['/products/create']">Criar novo</button>
          <button mdbBtn color="primary" (click)="convertPdf()">Gerar Pdf</button>
        </div>
    </div>
  </div>
</div>
