<div class="wrapper">
  <div class="row mt-3 d-flex justify-content-start">
    <div class="col-4">
      <div class="nav-item dropdown">
        <button mdbBtn class="btn clearSearch" color="success" block="true" type="text" (click)="reload()">Limpar Pesquisa</button>
      </div>
    </div>
    <div class="col-4">
      <div class="nav-item dropdown">
        <button mdbBtn color="success" block="true" type="text" class="btn clearSearch" mdbWavesEffect [routerLink]="['/products/create']">Criar Produto</button>
      </div>
    </div>
  </div>

  <div class="row mt-3 justify-content-around">

    <div class="col-4">
      <!-- Dropdown -->

      <div class="nav-item dropdown d-flex justify-content-center" dropdown>
        <div>
          <input mdbInput dropdownToggle  class="mr-sm-2" type="text" placeholder="Search" (keyup)="search($event)" #filterInput>
        </div>
        <div>
          <button mdbBtn class="btn" color="success" block="true"  type="submit" (click)="fullMatchSearch()" title="Guardar">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
        <div  *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary d1" role="menu" >
          <div *ngIf="searchresults.length > 0" class="dropdown">
            <div *ngFor="let result of searchresults" (click)="selectedResult(result.description)" (click)="search($event)">
              <li class="dropdown-item" [value]="result.reference">{{result.description}}</li>
              <!-- <li class="dropdown-item" [routerLink]="['/products/detail/', result.id]">{{result.description}}</li> -->
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-8 d-flex justify-content-between">
      <!-- Dropdown -->
      <div class="nav-item dropdown" dropdown>
        <div>
          <input dropdownToggle  class=" mr-sm-2" type="text" placeholder="Tipo de Produto" (keyup)="searchType($event)" #filterTypeInput>
        </div>
        <div>
          <div  *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary d2" role="menu" >
            <div *ngIf="typeRes.length > 0" class="dropdown">
              <div *ngFor="let type of typeRes"  (click)="selectedType(type.description); searchType($event)">
                <li class="dropdown-item" >{{type.description}}</li>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-item dropdown" dropdown>
        <div>
          <input dropdownToggle  class=" mr-sm-2" type="text" placeholder="Material do Produto" (keyup)="searchMaterial($event)" #filterMatInput>
        </div>
        <div>
          <div  *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary d2" role="menu" >
            <div *ngIf="materialRes.length > 0" class="dropdown">
              <div *ngFor="let material of materialRes"  (click)="selectedMaterial(material.description); searchMaterial($event)">
                <li class="dropdown-item" >{{material.description}}</li>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button mdbBtn class="btn" color="success" block="true"  type="submit" (click)="catSearch()" title="Guardar">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
  </div>

</div>
