<div class="container products-container">
  <form [formGroup]="productForm" (ngSubmit)="createProduct()" id="pform">

    <!-- tipo -->
    <div class="md-form mt-0">
      <select class="browser-default custom-select form-control" formControlName="type_id" style="width: 200px;" >
        <option>Tipo de Produto</option>
        <option *ngFor="let type of this.types" [ngValue]="type.id">{{ type.description }}</option>
      </select>
    </div>

    <!-- material -->
    <div class="md-form mt-0">
      <input type="number" formControlName="material_id" placeholder="Material" class="form-control" >
    </div>

    <!-- referencia -->
    <div class="md-form mt-0">
      <input type="number" formControlName="reference" placeholder="Referência" class="form-control" >
    </div>

    <!-- descrição -->
    <div class="md-form mt-0">
      <input type="text" formControlName="description" placeholder="Descrição"class="form-control" >
    </div>

    <!-- peso -->
    <div class="md-form mt-0">
      <input type="number" formControlName="weight" placeholder="Peso" class="form-control" >

    </div>
    <!-- preço -->
    <div class="md-form mt-0">
      <input type="number" formControlName="price" placeholder="Preço" class="form-control" >
    </div>


    <!-- ACÇÕES -->
    <div class="flex-center actions">
      <div class="flex-item">
        <button mdbBtn color="success" block="true" class="my-4" type="submit" title="Guardar">
          <i class="fa fa-save" aria-hidden="true"></i>
          Guardar
        </button>
      </div>
      <div class="flex-item">
        <button mdbBtn color="danger"  block="true" class="my-4" (click)="goBack()" type="submit" title="Cancelar">Cancelar
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
      </div>
    </div>

  </form>
</div>
