<h1>Orion SimpleDB</h1>

<div class="tabordion">
  <section id="section1">
    <input type="radio" name="sections" id="option1" checked>
    <label for="option1">Produtos</label>
    <article>
      <app-product></app-product>
    </article>
  </section>

  <section id="section2">
    <input type="radio" name="sections" id="option2">
    <label for="option2">Tipo de Produtos</label>
    <article>
      <app-producttype></app-producttype>
    </article>
  </section>

  <section id="section3">
    <input type="radio" name="sections" id="option3">
    <label for="option3">Material dos Produtos</label>
    <article>
      <app-productmaterial></app-productmaterial></article>
  </section>
</div>
