
<div class="tabordion">
  <section id="section1">
    <input type="radio" name="sections" id="option1" checked>
    <label for="option1">Produtos</label>
    <article>
      <div class="container" name="tabcontainer">
        <app-product></app-product>
      </div>
    </article>
  </section>

  <section id="section2">
    <input type="radio" name="sections" id="option2">
    <label for="option2">Tipo de Produtos</label>
    <article>
      <div class="container" name="tabcontainer">
        <app-producttype></app-producttype>
      </div>
    </article>
  </section>

  <section id="section3">
    <input type="radio" name="sections" id="option3">
    <label for="option3">Material dos Produtos</label>
    <article>
      <div class="container" name="tabcontainer">
        <app-productmaterial></app-productmaterial>
      </div>
    </article>
  </section>
  <section id="section3">
    <input type="radio" name="sections" id="option3">
    <label for="option3">Historico de Vendas</label>
    <article>
      <div class="container" name="tabcontainer">
        <app-sales-history></app-sales-history>
      </div>
    </article>
  </section>
</div>
