h1 {
  color: #333;
  font-family: arial, sans-serif;
  margin: 1em auto;
  width: 90%;
}

/* .tabordion {
  color: #fff;
  display: block;
  font-family: arial, sans-serif;
  margin: auto;
  position: relative;
  width: 95%;
}

.tabordion input[name="sections"] {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.tabordion section {
  display: block;
}

.tabordion section label {
  background:#5eddf1;
  //border:1px solid #fff;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 15px 20px;
  position: relative;
  width: 180px;
  z-index:100;
}

.tabordion section article {
  color: #333;
  display: none;
  left: 230px;
  min-width: 300px;
  padding: 0 0 0 21px;
  position: absolute;
  top: 0;
  width: 100%;
}

.tabordion section article:after {
  background-color: #5eddf1;
  bottom: 0;
  content: "";
  display: block;
  left:-229px;
  position: absolute;
  top: 0;
  width: 220px;
  z-index:1;
}

.tabordion input[name="sections"]:checked + label {
  background: #00b8ff;
  color: #fff;
  width: 220px;
}

.tabordion input[name="sections"]:checked ~ article {
  display: block;
} */


@media (max-width: 533px) {

  h1 {
    width: 100%;
  }

  .tabordion {
    width: 100%;
  }

  .tabordion section label {
    font-size: 1em;
    width: 160px;
  }

 .tabordion section article {
    left: 200px;
    min-width: 270px;
  }

  .tabordion section article:after {
    background-color: #ccc;
    bottom: 0;
    content: "";
    display: block;
    left:-199px;
    position: absolute;
    top: 0;
    width: 200px;

  }

}


@media (max-width: 768px) {
  h1 {
    width: 96%;
  }

  .tabordion {
    width: 96%;
  }
}

@media (min-width: 1024px) {
  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    -ms-flex-pack: center !important;
    justify-content: center !important;
    margin-top: 1rem;
  }

  h1 {
    width: 95%;
  }

  .products-container{
    margin: 5% auto 2% auto;
    border: 1px rgb(126, 124, 124) solid;
  }
  .my-4{
    width: 150px;
    margin: .375rem !important;
  }

  #pform{
    margin: 60px;
  }

  .actions{
    margin-bottom: 3%;
  }


  .sidenav {
    margin-top: 61px;
    height: 100%; /* 100% Full-height */
    max-width: 150px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #00bcd4; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: white;
    background-color: #046c96;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

}

@media (min-width: 1366px) {
  h1 {
    width: 95%;
  }

  .tabordion {
    width: 95%;
  }

  .sidenav {
    margin-top: 61px;
    height: 100%; /* 100% Full-height */
    max-width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #00bcd4; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: white;
    background-color: #046c96;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

div[name="tabcontainer"]{
  width: 80%;
  margin: 0 10%;
}

.products-container{
  margin: 5% auto 2% auto;
  border: 1px rgb(126, 124, 124) solid;
}
.my-4{
  width: 150px;
  margin: .375rem !important;
}

#pform{
  margin: 60px;
}

.actions{
  margin-bottom: 3%;
}

/*
.sidenav {
  margin-top: 61px;
  height: 100%; // 100% Full-height
  max-width: 250px; // 0 width - change this with JavaScript
  position: fixed; // Stay in place
  z-index: 1; // Stay on top
  top: 0; // Stay at the top
  left: 0;
  background-color: #00bcd4; // Black
  overflow-x: hidden; // Disable horizontal scroll
  padding-top: 60px; // Place content 60px from the top
  transition: 0.5s; // 0.5 second transition effect to slide in the sidenav
}

// The navigation menu links
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

// When you mouse over the navigation links, change their color
.sidenav a:hover {
  color: white;
  background-color: #046c96;
}

// Position and style the close button (top right corner)
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
} */

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


#sidenavBtn {
  font-size:30px;
  cursor:pointer;
  color:white;

}

#sidenavBtn:hover{
  font-size:30px;
  cursor:pointer;
  color:white;
  background-color: #046c96;
  padding: 13px 5px;

}
