<div class="container">
  <div class="row py-5">
    <div class="col-12">
      <table id="example" class="table table-hover responsive nowrap" style="width:100%">
        <thead>
          <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th>Acções</th>
       </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of materials | paginate: { itemsPerPage: itemsTotal, currentPage: p, id: 'pm' }">
            <td>
              <a  [routerLink]="['/productmaterial/detail/', item.id ]">
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-blue mr-3">{{item.id}}</div>
<!--
                  <div class="">
                    <p class="font-weight-bold mb-0">{{m.id}}</p>
                  </div>
-->
                </div>
              </a>
            </td>
            <td>{{item.description}}</td>
            <td>
              <div class="dropdown actions">
                <button mdbBtn color="primary" class="btn btn-sm btn-icon" [routerLink]="['/productmaterial/update/', item.id]"><i class="bx bxs-pencil mr-2"></i> Editar</button>
                <button mdbBtn color="danger" class="btn btn-sm btn-icon" [routerLink]="['/productmaterial/detail', item.id ]"><i class="bx bxs-trash mr-2"></i> Apagar</button>
              </div>
<!--
              <div class="dropdown">
                <button class="btn btn-sm btn-icon" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="bx bx-dots-horizontal-rounded" data-toggle="tooltip" data-placement="top"
                        title="Actions"></i>
                    </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                  <a class="dropdown-item" href="#"><i class="bx bxs-pencil mr-2"></i> Editar</a>
                  <a class="dropdown-item text-danger" href="#"><i class="bx bxs-trash mr-2"></i> Apagar</a>
                </div>
              </div>
    -->
            </td>
          </tr>

        </tbody>
      </table>
      <div class="row justify-content-between align-middle" name="paginationOptions">

          <select class="browser-default custom-select" style="width: 60px;" (change)="pageItems($event)">
            <option *ngFor="let option of options" value={{option.label}}>{{ option.label }}</option>
          </select>
          <pagination-controls id="pm" (pageChange)="p = $event"></pagination-controls>
          <button mdbBtn color="primary" [routerLink]="['/productmaterial/create']">Criar novo</button>

        </div>
    </div>
  </div>
</div>
