.products-container{
  margin: 5% auto 2% auto;
  border: 1px rgb(126, 124, 124) solid;
}
.my-4{
  width: 150px;
  margin: .375rem !important;
}

#pform{
  margin: 60px;
}

.actions{
  margin-bottom: 3%;
}
