    <div class="container products-container">
      <form [formGroup]="productForm" #form id="pform">


        <!-- loja -->
        <div class="md-form mt-0">
          <input type="text" formControlName="store_id" placeholder="Loja" class="form-control disabled"  >
    <!--
          <div  *ngFor="let validation of validation_messages.name">
            <span class="help-block form-error text-danger"
              *ngIf="productForm.controls['name'].touched
              && productForm.controls['name'].errors?.maxlength ">{{validation.message}}
            </span>
          </div>
    -->
        </div>
          <!-- tipo -->
        <div class="md-form mt-0">
          <input type="text" formControlName="type_id" placeholder="Tipo de Produto" class="form-control disabled" >
        </div>
        <!-- material -->
        <div class="md-form mt-0">
          <input type="text" formControlName="material_id" placeholder="Material" class="form-control disabled" >

        </div>
        <!-- referencia -->
        <div class="md-form mt-0">
          <input type="number" formControlName="reference" placeholder="Referência" class="form-control disabled" >

        </div>
        <!-- descrição -->
        <div class="md-form mt-0">
          <input type="text" formControlName="description" placeholder="Descrição"class="form-control disabled" >

        <!-- estado -->
        </div>
            <div class="md-form mt-0">
          <input type="text" formControlName="state" placeholder="Estado" class="form-control disabled" >

        </div>
        <!-- data de criação -->
        <div class="md-form mt-0">
          <input type="date" formControlName="entryDate"  placeholder="Data de entrada" class="form-control disabled" >

        </div>
        <!-- data de atualização -->
        <div class="md-form mt-0">
          <input type="date" formControlName="lastUpdate" placeholder="Data de atualização" class="form-control disabled" >

        </div>
        <!-- data de venda -->
        <div class="md-form mt-0">
          <input type="date" formControlName="soldDate" placeholder="Descrição" class="form-control disabled" >

        </div>
          <!-- vendedor -->
        <div class="md-form mt-0">
          <input type="text" formControlName="seller" placeholder="Vendedor" class="form-control disabled" >

        </div>
        <!-- inserido por -->
        <div class="md-form mt-0">
          <input type="text" formControlName="insertedBy"  placeholder="Inserido por" class=" form-control disabled" >

        </div>
        <!-- peso -->
        <div class="md-form mt-0">
          <input type="number" formControlName="weight" placeholder="Peso" class="form-control disabled" >

        </div>
        <!-- preço -->
        <div class="md-form mt-0">
          <input type="number" formControlName="price" placeholder="Preço" class="form-control disabled" >

        </div>
        <!-- ACÇÕES -->
        <div class="flex-center actions">
          <div class="flex-item">
            <button mdbBtn color="success" block="true" class="my-4" (click)="update()" title="Editar">
              <i class="fa fa-save" aria-hidden="true"></i>
              Editar
            </button>
          </div>
          <div class="flex-item">
            <button mdbBtn color="danger"  block="true" class="my-4" (click)="goBack()" type="submit" title="Cancelar">Cancelar
              <i class="fa fa-remove" aria-hidden="true"></i>
            </button>
          </div>
        </div>

      </form>
    </div>

